.el-dialog__header{
    text-align: left;
    border-bottom: solid 1px #dcdcdc;
    span{
        margin-left:20px;
    }
    .el-dialog__title{
        color: #333333;
        font-size: 16px;
        font-weight: 600;
    }
}
.el-dialog--center .el-dialog__body{
    text-align: center;
    padding: 10px 40px 10px;
    color: #606266;
    .el-tabs__content{
        padding: 10px 0 0 0;
    }
    .warning-padding {
        margin: 70px 0;
        display: block;
        font-size: 16px;
    }
}

//tabs标签页
.el-tabs__header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.el-tabs__nav-wrap
.el-tabs__nav-scroll
.el-tabs__nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.el-tabs__item{
    padding: 0 63px;
}
.el-select__input {

    vertical-align: baseline;

}
//Select选择器修复
.el-select-dropdown.el-popper{
    height: auto;
}
.el-select{
    width: 100%;
}
//MessageBox 弹框
.el-message.el-message--success,
.el-message.el-message--info{
    height: auto;
}
