.el-header{
    width: 100%;
    height: $header-height !important;
    background: $main-color;
    position: absolute;
    z-index: 1;
    top: 0;
    .header-img{
        height: 48px;
        img{width:125px;height: 48px;}
        display: inline-block;
    } 
    .header-syetem {
        height: $header-height;
        float: right;
        display: inline-block;
        margin-right: 20px;
        span{
            height: $header-height;
            line-height:  $header-height;
            display:inline-block;
            font-size:$fs1;
            color:$color-white;
        }
    } 
    .header-user{
        width: 100px;
        height: $header-height;
        float: right;
        display: inline-block;
        .el-dropdown-link:hover{
            cursor: pointer;
        }
        .el-dropdown-link span{
            width: 50px;
            height:$header-height;
            color: $color-white;
            font-size: $fs1;
            text-align: center;
            line-height: $header-height;
            float: left;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            i{
                color: $color-white;
                font-size: 28px;
                line-height: $header-height;
                float: left;
            }
        }
    }
}