.scroll-hidden-out{
    width: 200px !important;
    margin-top: 48px;
    overflow: hidden;
    position: relative;
    .el-aside{
        width: 220px !important;
        height: 100%;
        position: absolute;
        top: 0;
        overflow: scroll;
        overflow-x: hidden;
        .el-menu{
            border-right:none;
        }
    }
}