//container
.inquire{
    padding:24px 24px 0 24px;
    margin:20px 20px 40px 20px;
    background: #ffffff;
}
.container{
    padding:24px 24px 0 24px;
    margin:0px 20px 0 20px;
    background: #ffffff;
}
.pagination{
    padding:14px 24px 14px 24px;
    margin:0px 20px 0 20px;
    background: #ffffff;
}
//编辑 删除 颜色样式
.blue{
    background-color: #0073F3;
    color: #ffffff;
    border-color: #0073F3;
}
.blue:hover{
    background-color: #0073F3;
    opacity:0.7;
    border-color: #0073F3;
}
.yellow{
    background-color: #ffcd31;
    color: #ffffff;
    border-color: #ffcd31;
}
.yellow:hover{
    background-color: #ffcd31;
    opacity:0.7;
    border-color: #ffcd31
}
.red{
    background-color: #ff7b8c;
    color: #ffffff;
    border-color: #ff7b8c;
}
.red:hover{
    background-color: #ff7b8c;
    opacity:0.7;
    border-color: #ff7b8c;
}
.green{
    background-color: #83d587;
    color: #ffffff;
    border-color: #83d587;
}
.green:hover{
    background-color: #83d587;
    opacity:0.7;
    border-color: #83d587;
}
.el-button{
    height: 32px;
    line-height: 8px;
}
.delete{
    color: #ff7b8c;
}
//查询
.form-inline{
    background: #ffffff;
}
.el-input__inner{
    height: 32px;
}
//表格
.el-table td{
    padding: 18px 0;
}
//分页
.pagination{
    text-align: right;
}
.el-pagination__total{
    float: left;
}